#header, #footer{
	background-color: #cccccc;
	overflow: auto;
	height: 70px;
}

#header{
	position: relative;

}

#footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#main{
	width: 90%;
	float: center;
	margin-left: 5%;
}

#myCarousel{
	height: 100%;
}

#menu{
	position: absolute;
	bottom: 15px;
	display: inline;
	right: 0px
	}

div{
}

h1{
	font-family: arial;
}

.half-column{
	width: 50%;
}

.third-column{
	width: 33%;
}

.twothird-column{
	width: 66%;
}

.left-column{
	float: left;
}

.right-column{
	float: right;
}

.left-padding{
	padding-left: 15px;
}

.right-padding{
	padding-right: 15px;
}

.button{
	width: 25%;
	float: left;
	text-align: center;
}

html, body{
	margin: 0;
	padding: 0;
}